h1, .h1 {
	font-size: 3.052rem !important;
}

h2, .h2 {
	font-size: 2.441rem !important;
	color: $accent-dark !important;
	
	&.underline {
		&:after {
			content: "";
			display: block;
			border-bottom: 2px solid $primary;
			width: 70%;
			margin: 1em auto;
		}
	}
}

h3, .h3 {
	font-size: 1.953rem !important;
	color: $accent-dark !important;
}

h4, .h4 {
	font-size: 1.563rem !important;
	color: $accent-dark !important;
}

h5, 
.h5 {
	text-transform: uppercase !important;
	color: $primary !important;
	font-size: 1.25rem !important;
	font-weight: 500 !important;
}

h6, .h6 {
	font-size: 0.8rem !important;
}

h7, .h7 {
	font-size: 0.64rem !important;
}

h8,
.h8 {
	font-size: 0.512rem !important;
}